<p id="notice"><%= notice %></p>

<p>
  <strong>Creato da:</strong>
  <%= @article.user.username %>
  <strong>In Data:</strong>
  <%= @article.created_at.strftime("%d-%m-%Y %H:%M") %>
</p>

<p>
  <strong>Titolo:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Testi:</strong>
  <%= @article.body %>
</p>

<%= render 'comments/form' %>

<%= link_to 'Modifica', edit_article_path(@article) %> |
<%= link_to 'Torna indietro', articles_path %>
